body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent, black), url(Images/Wallpapers-textures-background_blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
}

main {
    margin-top: 60px;
    color: black;
}

.box_text {
    padding: 5%;
    background-color: white;
    border: solid black;
    border-radius: 10px;
    text-justify: auto;
}

h1{
    color: black;
}

footer {
    background-color: black;
    border-radius: 10px;
    color: white;
    padding-top: 50px;   
}

